# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json
*.nuget.cache

# MSBuild Binary Log
*.binlog

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json